/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer{
	margin: 25px 0 0;
	padding: 40px 20px;
	background: #f0f0f0;
	color: #aaaaaa;
	font-size: 1.4rem;
	font-family: 'Open Sans', sans-serif;
}