/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/* body
------------------------------------------------------------*/
body {
	min-width: $baseWidth1;
	@include sp {
		min-width: 320px;
	}
}

/* 
------------------------------------------------------------*/
.l-container {
	width: $baseWidth1;
	margin: 0 auto;
	@include clear;
	@include sp {
		width: 100%;
		padding: 0 15px;
	}
}

/* 
------------------------------------------------------------*/
.l-content {
	width: $baseWidth2;
	margin: 0 auto;
	@include sp {
		width: 100%;
		padding: 0 15px;
	}
}

/* 
------------------------------------------------------------*/
.l-main {
	width: 940px;
	float: left;
	@include sp {
		width: 100%;
		float: none;
	}
}

/* 
------------------------------------------------------------*/
.l-side {
	width: 220px;
	float: right;
	@include sp {
		width: 100%;
		float: none;
	}
}