/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1 {
	h1,h2,h3,h4,h5,h6 {
		font-size: 2.8rem;
		font-weight: normal;
		color: #ccc;
		@include sp {
			font-size: 1.6rem;
		}
	}
	&--color1 {
		h1,h2,h3,h4,h5,h6 {
			color: #666;
		}
	}
}

.c-title2{
	margin: 20px 0 0 0;
	h1,h2,h3,h4,h5,h6{
		display: inline-block;
		color: red;
		background: -webkit-linear-gradient(left, #333 0%, #ebd8b0 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
	}
}