/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text {
	font-size: 1.2rem;
	color: #222;
	line-height: 1.8;
	@include sp {
		font-size: 1.2rem;
		line-height: 1.5;
	}
}
